<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>CRUD APP</title>


    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<!--Отправка данных на рест контроллер для добавления пользователя-->
<!--<script type="text/javascript">-->
<!--    function send_user() {-->
<!--        $.ajax({-->
<!--            type: 'POST',-->
<!--            url: 'add_user',-->
<!--            dataType: 'json',-->
<!--            contentType: 'application/json',-->
<!--            cache: false,-->
<!--            data: JSON.stringify({-->
<!--                email: $("#user_email").val(),-->
<!--                password: $("#user_password").val(),-->
<!--                age: $("#user_age").val(),-->
<!--                firstName: $("#first_name").val(),-->
<!--                lastName: $("#last_name").val(),-->
<!--                roles: $("#user_role").val()-->

<!--            }),-->
<!--            success: function () {-->
<!--                console.log("GOOD")-->
<!--            },-->
<!--            error: function (request, status, error) {-->
<!--                console.log(request);-->
<!--                console.log(status);-->
<!--                console.log(error);-->
<!--            }-->
<!--        })-->
<!--    }-->
<!--</script>-->


<!--Отправка изменений на рестконтроллер-->
<!--<script type="text/javascript">-->
<!--    function edit_user() {-->
<!--        $.ajax({-->
<!--            type: 'PUT',-->
<!--            url: 'edit_user',-->
<!--            dataType: 'json',-->
<!--            contentType: 'application/json',-->
<!--            cache: false,-->
<!--            data: JSON.stringify({-->
<!--                id: $("#inputEdit_id").val(),-->
<!--                email: $("#inputEdit_email").val(),-->
<!--                password: $("#inputEdit_pw").val(),-->
<!--                age: $("#inputEdit_age").val(),-->
<!--                firstName: $("#inputEdit_fname").val(),-->
<!--                lastName: $("#inputEdit_lname").val(),-->
<!--                roles: $("#inputEdit_role").val()-->

<!--            }),-->
<!--            success: function () {-->
<!--                console.log("!!!!!!!!!!!Good!!!!!!")-->
<!--            }-->

<!--        })-->
<!--    }-->

<!--</script>-->

<!--Отправка данных для удаления-->
<!--<script type="text/javascript">-->
<!--    function delete_user() {-->

<!--        $.ajax({-->
<!--            type: 'DELETE',-->
<!--            url: 'delete_user',-->
<!--            dataType: 'json',-->
<!--            contentType: 'application/json',-->
<!--            cache: false,-->
<!--            data: JSON.stringify({-->
<!--                id: $("#inputDelete_id").val()-->
<!--            }),-->
<!--            success: function () {-->
<!--                console.log("GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG")-->
<!--            }-->
<!--        })-->
<!--    }-->
<!--</script>-->

<!--<script type="text/javascript">-->
<!--    fetch('test_fetch')-->
<!--        .then(function (response) {-->
<!--            response.json().then(function (data) {-->
<!--                console.log( data)-->
<!--            })-->
<!--        })-->

<!--</script>-->


<!--<script type="text/javascript">-->

<!--    $(document).ready(function () {-->
<!--        $('#btn').click(function () {-->
<!--            var parEmail=$('#user_email').val();-->
<!--            var parPassword=$('#user_password').val();-->
<!--            var parAge=$('#user_age').val();-->
<!--            var parName=$('#first_name').val();-->
<!--            var parLast=$('#last_name').val();-->
<!--            var parRole=$('#user_role').val();-->


<!--            $.ajax({-->
<!--                type:'POST',//тип запроса-->
<!--                data:{pEmail:parEmail,pPass:parPassword,pAge:parAge,pName:parName,pLast:parLast,pRole:parRole },//параметры запроса-->
<!--                url:'add_user',//url адрес обработчика-->
<!--                success: funcSuccess//возвращаемый результат от сервера-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--    function funcSuccess() {-->

<!--    }-->
<!--</script>-->


<body>
<!--    <th th:text="#{userHeader}">-->
<div class="container-fluid text-light bg-dark p-2 mb-3">

    <div class="row">
        <!--Шапка-->
        <div class="col">
            <p style="display: inline" th:text="${aboutUser.getEmail()}"></p>
            <span data-role>with roles:
                <th:block th:each="role : ${aboutUser.getRoles()}">
                    <span th:text="${role.name}"></span>
                </th:block>
            </span>
        </div>
        <div class="col text-right">
            <a class="logout" th:href="@{/logout}">Logout</a>
        </div>
    </div>

</div>

<!--Main containte-->
<div class="container-fluid">
    <!--вертикальная настройка -100% на всю строку-->
    <div class="min-vh-100 row">
        <!--            Левая панель навигации-->
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a sec:authorize="hasAuthority('ADMIN')" class="nav-link" id="adminTab" data-toggle="pill"
                   href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="userTab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <!--            Right content-->
        <div class="col-10 bg-light">
            <div class="tab-content" id="v-pills-tabContent">
                <div sec:authorize="hasAuthority('ADMIN')" class="tab-pane fade" id="v-pills-home" role="tabpanel"
                     aria-labelledby="adminTab">
                    <h2>Admin panel</h2>
                    <!--                        Вкладки панели навигации-->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#userTableTab" role="tab"
                               aria-controls="home" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#newUserTab" role="tab"
                               aria-controls="profile" aria-selected="false">New user</a>
                        </li>
                    </ul>
                    <!--                        Админ страница вкладка User tables-->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="userTableTab" role="tabpanel"
                             aria-labelledby="home-tab">
                            <div class="all-users p-3" data-toggle="collapse"
                                 data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                                All users
                            </div>

                        </div>
                        <!--                            Админ страница вкладка Add new user-->
                        <div class="text-center tab-pane fade bg-white" id="newUserTab" role="tabpanel"
                             aria-labelledby="profile-tab">
                            <div class="row m-auto bg-light p-3">
                                <div class="p-3" data-toggle="collapse"
                                     data-target="#collapseExample" aria-expanded="true"
                                     aria-controls="collapseExample">
                                    Add new user
                                </div>
                            </div>

                            <form class="w-25 m-auto p-5">

                                <form class="w-25 m-auto p-5" id="userForm">

                                    <div class="form-group">
                                        <label>First name</label>
                                        <input type="text" id="first_name" class="form-control"
                                               placeholder="Enter name">
                                    </div>
                                    <div class="form-group">
                                        <label>Last name</label>
                                        <input type="text" id="last_name" class="form-control"
                                               placeholder="Enter last name">
                                    </div>
                                    <div class="form-group">
                                        <label>Age</label>
                                        <input type="text" id="user_age" class="form-control"
                                               placeholder="Age">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" id="user_email" class="form-control"
                                               placeholder="Email address">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" id="user_password"
                                               class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label>Role</label>
                                        <select multiple id="user_role" class="form-control"
                                                SIZE="2">
                                            <option th:each="role : ${allRoles}"
                                                    th:text="${role.name}"
                                                    th:value="${role.id}"
                                            ></option>
                                        </select>
                                    </div>
                                    <button type="button" id="addNewUserButton" class="btn btn-success w-50">Add new
                                        user
                                    </button>
                                </form>
                        </div>
                    </div>
                </div>
                <!--                    Страница user-->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="userTab">
                    <h2>User information-page</h2>
                    <div class="all-users p-3" data-toggle="collapse"
                         data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                        About user
                    </div>
                    <table class="table bg-white">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <th:block th:each="user : ${aboutUser}">
                            <tr>
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.roles}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit -->
    <div sec:authorize="hasAuthority('ADMIN')" class="modal fade" id="editUser" tabindex="-1" role="dialog"
         aria-labelledby="ModalLabelEdit"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabelEdit">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="w-50 text-center m-auto">
                        <form>
                            <div class="form-group">
                                <label>ID</label>
                                <input id="inputEdit_id" disabled type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>First name</label>
                                <input id="inputEdit_fname" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input id="inputEdit_lname" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Age</label>
                                <input id="inputEdit_age" type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input id="inputEdit_email" type="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input id="inputEdit_pw" type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <select multiple id="inputEdit_role" name="role" class="form-control" SIZE="2">
                                    <option th:each="role : ${allRoles}"
                                            th:text="${role.name}"
                                            th:value="${role.id}"
                                    ></option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="editButton" type="button" data-dismiss="modal" class="btn btn-primary">Edit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div sec:authorize="hasAuthority('ADMIN')" class="modal fade" id="deleteUser" tabindex="-1" role="dialog"
         aria-labelledby="ModalLabelDelete"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabelDelete">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="w-50 text-center m-auto">
                        <form>
                            <div class="form-group">
                                <label>ID</label>
                                <input id="inputDelete_id" disabled type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>First name</label>
                                <input id="inputDelete_fname" disabled type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input id="inputDelete_lname" disabled type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Age</label>
                                <input id="inputDelete_age" disabled type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input id="inputDelete_email" disabled type="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <select id="inputDelete_role" disabled name="role" class="form-control" SIZE="2">
                                    <option>ADMIN</option>
                                    <option>USER</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="deleteButton" type="button" data-dismiss="modal" class="btn btn-danger">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


<!--Данные с таблицы переданные в модальное окно редактирования-->
<script type="text/javascript">
    $('#editUser').on('show.bs.modal', function (event) {
        let modal = $(this)
        let button = $(event.relatedTarget);
        let closestTr = button.closest('tr');
        let userId = closestTr.find('[data-id]').text();
        modal.find('#inputEdit_id').val(userId);
        let userFn = closestTr.find('#editUser_fname').text();
        modal.find('#inputEdit_fname').val(userFn);
        let userLn = closestTr.find('#editUser_lname').text();
        modal.find('#inputEdit_lname').val(userLn);
        let userAge = closestTr.find('#editUser_age').text();
        modal.find('#inputEdit_age').val(userAge);
        let userEmail = closestTr.find('#editUser_email').text();
        modal.find('#inputEdit_email').val(userEmail);
        let userRole = closestTr.find('#editUser_role').text();
        modal.find('#inputEdit_role').val(userRole);
    });

    //Отправка данных на сервер и изменение строки в таблице после нажатия ктопки Edit в окне
    $('#editButton').click(async

    function (e) {

        let user = {
            id: $('#inputEdit_id').val(),
            email: $("#inputEdit_email").val(),
            password: $("#inputEdit_pw").val(),
            age: $("#inputEdit_age").val(),
            firstName: $("#inputEdit_fname").val(),
            lastName: $("#inputEdit_lname").val(),
            roles: $("#inputEdit_role").val(),
        };

        let response = await
        fetch('/admin/edit_user', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(user)
        });

        if (response.ok) {

            let result = await
            response.json();
            let tableAllUsers = document.querySelector('#tableId');
            let roles = getRoleName(result['roles']);
            let row = $('td[data-id="' + result['id'] + '"]').closest('tr');
            row.html('<td data-id = "' + result['id'] + '">' + result['id'] + '</td>' +
                '<td id="editUser_fname">' + result['firstName'] + '</td>' +
                '<td id ="editUser_lname">' + result['lastName'] + '</td>' +
                '<td id="editUser_age">' + result['age'] + '</td>' +
                '<td id="editUser_email">' + result['email'] + '</td>' +
                '<td id="editUser_role">' + roles + '</td>' +
                '<td><button type="button" class="btn btn-info" ' +
                'data-toggle="modal" data-target="#editUser" ' +
                'data-whatever="Edit" >Edit</button></td>' +
                '<td><button type="button" class="btn btn-danger" ' +
                'data-toggle="modal" data-target="#deleteUser"' +
                'data-whatever="Delete">Delete</button></td>');

            console.log(tableAllUsers);
            console.log(row);
        }

        if (response.status == 400) {
            let result = await
            response.json();
            for (let i = 0; i < result.length; i++) {
                let errorMessage = result[i]['defaultMessage'];
                alert(errorMessage);
            }
        }

    }

    )
    ;


</script>
<!--Данные с таблицы переданные в модальное окно удаления-->
<script type="text/javascript">
    $('#deleteUser').on('show.bs.modal', function (event) {
        let modal = $(this)
        let button = $(event.relatedTarget);
        let closestTr = button.closest('tr');
        let userId = closestTr.find('[data-id]').text();
        modal.find('#inputDelete_id').val(userId);
        let userFn = closestTr.find('#editUser_fname').text();
        modal.find('#inputDelete_fname').val(userFn);
        let userLn = closestTr.find('#editUser_lname').text();
        modal.find('#inputDelete_lname').val(userLn);
        let userAge = closestTr.find('#editUser_age').text();
        modal.find('#inputDelete_age').val(userAge);
        let userEmail = closestTr.find('#editUser_email').text();
        modal.find('#inputDelete_email').val(userEmail);
        let userRole = closestTr.find('#editUser_role').text();
        modal.find('#inputDelete_role').val(userRole);
    });

    //Отправка данных на сервер и удаление строки в таблице после нажатия ктопки Delete
    $('#deleteButton').click(async

    function (e) {
        let id = $('#inputDelete_id').val();

        let response = await
        fetch('/admin/delete_user/' + id, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            }
        })

        if (response.ok) {
            $('td[data-id="' + id + '"]').closest('tr').remove()
            console.log('User deleted')
        }
    }

    )
    ;


</script>
<!--Добавление новго пользователя-->
<script type="text/javascript">
    $('#addNewUserButton').click(async

    function (e) {

        let user = {
            email: $("#user_email").val(),
            password: $("#user_password").val(),
            age: $("#user_age").val(),
            firstName: $("#first_name").val(),
            lastName: $("#last_name").val(),
            roles: $("#user_role").val(),
        };

        let response = await
        fetch('/admin/add_user', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(user)
        });

        if (response.ok) {
            let result = await
            response.json();
            console.log(result);
            let table = document.querySelector('#tableId');
            let newRow = document.createElement('tr');
            let roles = getRoleName(result['roles']);
            newRow.innerHTML = '<td data-id = "' + result['id'] + '">' + result['id'] + '</td>' +
                '<td id="editUser_fname">' + result['firstName'] + '</td>' +
                '<td id ="editUser_lname">' + result['lastName'] + '</td>' +
                '<td id="editUser_age">' + result['age'] + '</td>' +
                '<td id="editUser_email">' + result['email'] + '</td>' +
                '<td id="editUser_role">' + roles + '</td>' +
                '<td><button type="button" class="btn btn-info" ' +
                'data-toggle="modal" data-target="#editUser" ' +
                'data-whatever="Edit" >Edit</button></td>' +
                '<td><button type="button" class="btn btn-danger" ' +
                'data-toggle="modal" data-target="#deleteUser"' +
                'data-whatever="Delete">Delete</button></td>';
            table.append(newRow);
            document.querySelector('#home-tab').click();
            console.log("User added");
            console.log(table);

        }

        if (response.status == 400) {
            let result = await
            response.json();
            for (let i = 0; i < result.length; i++) {
                let errorMessage = result[i]['defaultMessage'];
                alert(errorMessage);
            }
        }

    }

    )
    ;
</script>

<!--Получение данных с сервера о всех пользователях в бд, и создание таблицы-->
<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", async() = > {
        let tableWrapper = document.querySelector("#userTableTab");
    let response = await
    fetch('/admin/get_users');
    if (response.ok) {
        let createTable = document.createElement('table');
        createTable.classList.add('table');
        createTable.setAttribute("id", "tableId");
        createTable.innerHTML = '<thead>' +
            '<tr>' +
            '<th>ID</th>' +
            '<th>First Name</th>' +
            '<th>Last Name</th>' +
            '<th>Age</th>' +
            '<th>Email</th>' +
            '<th>Role</th>' +
            '<th>Edit</th>' +
            '<th>Delete</th>' +
            '</tr>' +
            ' </thead>';
        response.json().then(function (data) {
            for (let i = 0; i < data.length; i++) {
                let rowItem = document.createElement('tr');
                let roles = getRoleName(data[i].roles);
                rowItem.innerHTML = '<td data-id = "' + data[i].id + '">' + data[i].id + '</td>' +
                    '<td id="editUser_fname">' + data[i].firstName + '</td>' +
                    '<td id ="editUser_lname">' + data[i].lastName + '</td>' +
                    '<td id="editUser_age">' + data[i].age + '</td>' +
                    '<td id="editUser_email">' + data[i].email + '</td>' +
                    '<td id="editUser_role">' + roles + '</td>' +
                    '<td><button type="button" class="btn btn-info" ' +
                    'data-toggle="modal" data-target="#editUser" ' +
                    'data-whatever="Edit" >Edit</button></td>' +
                    '<td><button type="button" class="btn btn-danger" ' +
                    'data-toggle="modal" data-target="#deleteUser"' +
                    'data-whatever="Delete">Delete</button></td>';
                createTable.append(rowItem);
            }
        });
        tableWrapper.append(createTable);
    }
    })
    ;

    function getRoleName(roles) {
        let userRoles = '';
        for (let y = 0; y < roles.length; y++) {
            userRoles += ', ' + roles[y].name;
        }
        return userRoles.substring(2);
    }

</script>


<!--Активация вкладки админ или юзер в зависимости от роли-->
<script type="text/javascript">
    if ($('[data-role]').text().indexOf('ADMIN') != -1) {
        $('#adminTab').addClass('active');
        $('#v-pills-home').addClass('show active');
    } else {
        $('#userTab').addClass('active');
        $('#v-pills-profile').addClass('show active');
    }
</script>


</body>
</html>